@media only screen and (max-width:992px) {
.hl-main.col-md-8 {
	width: 100%;
}
.hl-left .hl-main.col-md-8 {
    width: 100%;
    float: none;
}
.hl-side-bar.col-sm-4 {
	width: 100%;
	max-width: 300px;
	margin: 0 auto;
	float: none;
}
.hl-logo {
	text-align: left;
	display: inline-block;
}
.hl-main-menu {
	display: none;
}
.hl-mobile-menu.hl-mobile-menu-open {
	visibility: visible;
	background-color: rgba(0,0,0,0.2);
}
.hl-mobile-icon {
	display: block;
}
.hl-full article.hl-article-grid {
	width: 48%;
	margin-left: 4%;
}
.hl-full article.hl-article-grid:nth-child(2n+1) {
	margin-left: 4%;
	clear: none;
}
.hl-full article.hl-article-grid:nth-child(3n+1) {
	margin-left: 0;
	clear: both;
}
}
@media only screen and (max-width:767px) {
.hl-article-list .hl-post-media {
	width: 250px;
}
.hl-article-standard .post-meta {
	border-top: 1px solid #e1e1e1;
	border-bottom: 1px solid #e1e1e1;
	padding-top: 10px;
	margin-top: 30px;
}
.hl-article-standard .hl-article-footer .hl-article-more::before {
	display: none;
}
.article-content {
	margin-left: 0px;
	margin-right: 0px;
}
.hl-footer .holland-footer-widget {
	margin-bottom: 40px;
}
.hl-footer .holland-footer-widget:last-child {
	margin-bottom: 0px;
}
}
@media only screen and (max-width:601px) {
article.hl-article-grid {
	width: 100%;
	margin: 0;
}
.hl-article-list .hl-post-media {
	width: 100%;
	float: none;
	margin-right: 0px;
}
.hl-full article.hl-article-grid {
	width: 100%;
	margin-left: 0%;
}
.hl-slider .hl-slider-inner h2 {
	font-size: 20px;
	line-height: 30px;
}
.hl-slider .hl-post-cat {
	display: none;
}
.hl-slider .owl-nav .owl-prev, .hl-slider .owl-nav .owl-next {
	margin-top: -15px;
	width: 30px;
	height: 30px;
}
.hl-slider .owl-nav .owl-prev::before, .hl-slider .owl-nav .owl-next::before {
	font-size: 24px;
	top: -8px;
	left: 11px;
}
.hl-slider .owl-nav .owl-prev::before {
	left: 9px;
}
.hl-site-title a {
	font-size: 60px;
}
.hl-tagline {
	font-size: 13px;
}
.hl-top-search-form input.s {
	max-width: 190px;
}
.hl-related .hl-related-grid {
	width: 100%;
	margin-left: 0%;
	float: none;
	margin-bottom: 30px;
}
.hl-related .hl-related-grid:last-child {
	margin-bottom: 0px;
}
.hl-next-pre .hl-single-next {
	float: none;
	max-width: 100%;
	text-align: center;
	margin-bottom: 30px;
}
.hl-next-pre .hl-single-pre {
	float: none;
	max-width: 100%;
	text-align: center;
}
.hl-next-pre {
	padding: 20px 10px;
}
.holland-comment .reply {
	display: block;
	float: none;
	margin: 5px 0;
}
#commentform .comment-form-author, #commentform .comment-form-email, #commentform .comment-form-url {
	width: 100%;
	float: none;
	margin-right: 0%;
}
.commentform .comment-form-author input, #commentform .comment-form-email input, #commentform .comment-form-url input, #commentform .comment-form-comment textarea {
	width: 100%;
}
.hl-comment-list .author-img img {
	width: 40px;
	height: 40px;
}
.hl-comment-list .comment-text span.date {
	font-size: 11px;
	-webkit-border-radius: 18px;
	-moz-border-radius: 18px;
	border-radius: 18px;
}
.comments .hl-comment-list .comment-text .reply {
	float: none;
	display: block;
}
.comments .hl-comment-list .comment-text .reply a {
	font-size: 11px;
}
.hl-comment-list .comment-text .comment-desc p {
	font-size: 13px;
}
.comments .hl-comment-list li.comment, .comments .hl-comment-list li.pingback {
	margin-bottom: 25px;
	padding-bottom: 25px;
}
.hl-comment-list .children {
	padding-left: 20px;
}
.hl-modern-carousel .hl-slider-block {
    height: 320px;
} 
.hl-article-list .article-content {
    overflow: inherit;
}
}
@media only screen and (max-width:415px) {
.hl-top-search-form, .hl-tagline {
	display: none;
}
.hl-topbar {
	text-align: center;
}
.hl-article-standard .post-meta {
	display: none;
}
.holland-pagination .navigation.pagination .nav-links .page-numbers:not(.dots) {
	padding: 0px 2px;
	min-width: 26px;
	height: 26px;
}
.hl-modern-carousel .hl-slider-block {
    height: 280px;
}
}
